body {
  background: #d7ccc8;
}
nav {
  margin-bottom: 50px;
}
.container {
  width: 80%;
  &.title-button {
    display: flex;
    justify-content: space-between;
  }
}

#book-card {
  margin:20px;
}

// header
#header-logo {
  margin-left:15px;
  margin-top:15px;
  font-size: 3.5rem;
  text-shadow: 2px 2px 6px #263238;
  color: #5d4037
}
#nav-wrapper, #nav-wrapper a {
  height: 100px;
}
#nav-wrapper {
  box-shadow: 5px 5px 5px gray;
}
.secondary-links {
  padding-top:15px;
  font-size: 2rem;
  box-shadow: -5px 0 5px gray;
  text-shadow: 2px 2px 6px #f0f4c3;
  margin-left: 10px;
  color: #5d4037;
}

#book-container, #author-container {
    display: flex;
    justify-content: flex-start;
}
#book_detail, #author_detail {
  height: 350px;
  // display: flex;
}
#book_info, #author_info {
  // display:flex;
}
.author_pic {
  height: 250px;
}
.container .title-button {
  display: flex;
  justify-content: space-between;
}
.card-title #index-card {
  font-size: 4.5rem;
  text-shadow: 2px 2px 6px black;
}
