body {
  background: #d7ccc8;
}
.container {
  width: 80%;
}
#damn-card {
  margin:10px;
}

.book_detail, {
  height: 400px;
}
.author_pic {
  height: 250px;
}
.book_info .author_info {
  position: absolute;
}
