<div class="container section">
    <div class="row">
        <div class="col s2">
            <img class="book_detail" src="{{book.cover_image}}" alt="" />
        </div>
        <div class="book_info col s8 offset-s3">
            <h3>{{book.title}}</h3>
            <p>By: </p>
            <p>Genre: {{book.genre}}</p>
            <p>{{book.description}}</p>
        </div>
    </div>
</div>
